#tester
libft-unit-test
Libftest
libft-war-machine
gnl-war-machine-v2019
GNL_lover
42TESTERS-GNL
gnlkiller
pft/
42TESTERS-PRINTF/
pft_2019/
tests451/
printf_lover_v2/
printf-tester/
Test-42/
ft_printf_test/
**/*.o
**/*.a
test_result.txt
test_all.sh
#lib
*.a
#exe
*.out
.vscode
*.gch
main.c

save_screen.bmp
